In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('oct_march.csv')

In [3]:
df.head()

                  chid    views  subscriber  videoscount        date
0  UC6ROKPXrnzfhNYST1w  3302429        2087            4  2016-10-01
1  UC6ROKPXrnzfhNYST1w  3304705        2087            4  2016-10-02
2  UC6ROKPXrnzfhNYST1w  3306526        2090            4  2016-10-03
3  UC6ROKPXrnzfhNYST1w  3309092        2090            4  2016-10-04
4  UC6ROKPXrnzfhNYST1w  3311343        2090            4  2016-10-05

In [4]:
df['chid'].value_counts()

UC6iYzKmOJO0Cs-WfCw    182
UC6Zz6uQSz2_Wmwgcfw    182
UC635JwgokZYS0HGyQA    182
UC6IsogHvcPITLjkqSQ    182
UC6flofJskgS3FUpTNQ    182
UC6KlaVksIZ180wq70g    182
UC6YPrSElj_8A39DIvg    182
UC64do0QynUFrMe85Zg    182
UC6BJlqI4WKE_x1kjDw    182
UC6N57oJkzo4Gxqr9-g    182
UC64vZm5SJoi37VBYnw    182
UC6UT0RuDHyhmLURPMg    182
UC60GHVk_6ddgqhHwcg    182
UC6_-ciW9RQcEMA_iBA    182
UC6aooX-l3XaEnAcujw    182
UC6ROKPXrnzfhNYST1w    182
UC66-HJ9-EdhxymgrcA    182
UC6tJsYi0KhHQS089oA    182
UC6N5nZgC-o13ydQ5zA    182
UC6HdUHQanr_9DHmhsg    182
UC6zwaRF75y2bghpaEA    182
UC6cbiSDKy-hUoJTZEg    182
UC66MdV183KKnHdvIiA    182
UC6SjJYxfFL1_vsHPdw    182
UC6sm5R3f_sFkQ9ujmw    182
UC6iv_yOcmMUicwEeUw    182
UC6JwCF-UwTQOSq-sZw    182
UC6stWryp28Tgo8r26g    182
UC66EUC6JjLZrg         182
UC6lYe9Tu68H9fgvfeA    182
                      ...
UC6zmKdHGKMTBxHG6Hg    182
UC6VmBL8Vn4SAjc4-uQ    182
UC6RxqKdo26N9Whn0vw    182
UC6l6BYM7k31gN9V0cw    182
UC6vLMfhcTiIK0yWwxQ    182
UC6tYn2JQgIsZ2ab2bw    182
UC6wS--iGmGjJMfmEVA    182
UC665w2gl6qcRGbkwNA    182
UC6f5t2CAXGY6-ju7Ug    182
UC6rc_27FroFOH36mVw    182
UC6u_I_vSuBPlVj_L3Q    182
UC6Euu_pgjztpTW082A    182
UC6wileij7lxwqBj4sA    182
UC6wEnFGqbj3bK485EA    182
UC6bYLGao8Bupp0BwDA    182
UC6ky0R6f5GXoFd2-sg    182
UC6zLh-L0kVR6dxCYag    182
UC6JTYOqAl0rX4UE0zA    182
UC6R1DFp6TbjLRaBDNA    182
UC6lg1TT-CG93KH3ZWg    182
UC68ec3_IcK3Ymj5OPg    182
UC6QXNO5UrCue7psmvw    182
UC685tbaDLsOlfBVzfA    182
UC6sjyZNr6kG3WW8CTA    182
UC6SUIeJ5frJm3A4FJg    110
UC6jRSvabqGqw7FwikA    103
UC6Bv0PiBObuYcBzF2Q     40
UC6Ds9AtRgfoGPOr6-A     39
UC6iyxTNq8EzJ0qHirw     39
UC6PFoeUC65WJg          19
Name: chid, Length: 100, dtype: int64

In [5]:
df.dtypes

chid           object
views           int64
subscriber      int64
videoscount     int64
date           object
dtype: object

In [6]:
import datetime as datetime
from datetime import date
from statsmodels.tsa.arima_model import ARIMA

C:\Users\WELCOME\AppData\Local\conda\conda\envs\python3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [7]:
df.date = df.date.astype(date)

In [8]:
def arima_model(ts):
    train, test = ts[0:-100], ts[-100:]
    history = [x for x in train]
    predictions = list()
    for t in range(len(test)):
        model = ARIMA(history, order=(2,1,0))
        model_fit = model.fit(disp=-1)
        output = model_fit.forecast()
        yhat = output[0]
        predictions.append(yhat)
        obs = test[t]
        history.append(obs)
    error = r2_score(test, predictions)
    print('Test MSE: %.3f' % error)
    # plot
    test.plot()
    plt.plot(predictions,color='red')

In [9]:
df.head()

                  chid    views  subscriber  videoscount        date
0  UC6ROKPXrnzfhNYST1w  3302429        2087            4  2016-10-01
1  UC6ROKPXrnzfhNYST1w  3304705        2087            4  2016-10-02
2  UC6ROKPXrnzfhNYST1w  3306526        2090            4  2016-10-03
3  UC6ROKPXrnzfhNYST1w  3309092        2090            4  2016-10-04
4  UC6ROKPXrnzfhNYST1w  3311343        2090            4  2016-10-05

In [10]:
new = df[df['chid']==df['chid'][0]]
l = new['views'].astype(float)

In [11]:
arima_model(l)

KeyError: 0